.popContainer .popupTextBlock{
    margin:40px auto 0px auto;
    width: 600px;
    height: 450px;
    padding:10px;
    background-color: #e9dfdf;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
   
}


.closeSecond-PopUp {
    margin: 4px;
    position: relative;
    top: 8px;
    left: 195px;
    padding: 5px;
}

.text_aboutProject {
    font-style: italic;
    font-size: 16px;
    margin: 40px;
    font-weight: 400;
}
